NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bWFnaWNhbC1nYXRvci04Ni5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_EfmVqrHCtv22AP8GrtDHsFo0eakHqYdJcxvlq6tSfI
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
DATABASE_URL=postgresql://treinamento:treinamento@localhost:5432/typebot

# Chave secreta para JWT do portal do cliente (MUDE EM PRODUÇÃO!)
JWT_SECRET=sua-chave-secreta-muito-segura-aqui-mude-isso
